<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Convert Text Data to JSON .. value and label
  </h1>
</div>
<div>
    <md-input-container>
      <textarea mdInput placeholder="Paste Data Here" #data></textarea>
    </md-input-container>
    <md-input-container>
      <textarea mdInput placeholder="Converted array">{{createComArray}}</textarea>
    </md-input-container>
</div>

<div>
  <button [disabled]="data.value.length == 0" id="convert" (click)="dataIs(data.value)" md-button>Convert</button>
  <button id="reset" (click)="reset()" md-button>Reset</button>
</div>


